<div class="login-page">
  <div class="login-page__card">
    <h1 i18n="@@auth.resetPassword.title">Set your password</h1>
    <p class="login-page__subtitle" i18n="@@auth.resetPassword.subtitle">
      Choose a password to finish setting up your portal account.
    </p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@auth.resetPassword.newPasswordLabel">New password</mat-label>
        <input matInput type="password" formControlName="newPassword" autocomplete="new-password" />
      </mat-form-field>

      @if (error()) {
        <p class="login-page__error">{{ error() }}</p>
      }

      <button mat-flat-button color="primary" type="submit" [disabled]="submitting()">
        <span i18n="@@auth.resetPassword.submitButton">Set password</span>
      </button>
    </form>

    <a class="login-page__forgot" routerLink="/login" i18n="@@auth.resetPassword.backLink">
      Back to sign in
    </a>
  </div>
</div>
