<h2 mat-dialog-title i18n="@@documents.templateGallery.title">Template gallery</h2>

<mat-dialog-content class="lf-gallery-content">
  @if (loading()) {
    <div class="lf-gallery-state">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else if (error()) {
    <lf-empty-state
      icon="error_outline"
      title="Couldn't load templates"
      i18n-title="@@documents.templateGallery.errorTitle"
      message="Something went wrong loading the template library."
      i18n-message="@@documents.templateGallery.errorMessage"
      ctaLabel="Retry"
      i18n-ctaLabel="@@documents.templateGallery.retryButton"
      (cta)="load()"
    ></lf-empty-state>
  } @else if (templates().length === 0) {
    <lf-empty-state
      icon="description"
      title="No templates yet"
      i18n-title="@@documents.templateGallery.noTemplatesTitle"
      message="Firm template library is empty. Ask an admin to add merge templates."
      i18n-message="@@documents.templateGallery.noTemplatesMessage"
    ></lf-empty-state>
  } @else {
    <div class="lf-gallery-grid">
      @for (template of templates(); track template.id) {
        <mat-card class="lf-gallery-card" (click)="select(template)" tabindex="0">
          <mat-card-content>
            <div class="lf-gallery-card__header">
              <span class="lf-gallery-card__name">{{ template.name }}</span>
              @if (template.category) {
                <span class="lf-gallery-card__badge">{{ template.category }}</span>
              }
            </div>
            <span class="lf-gallery-card__version" i18n="@@documents.templateGallery.versionLabel"
              >v{{ template.version }}</span
            >
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    type="button"
    [mat-dialog-close]="undefined"
    i18n="@@documents.templateGallery.cancelButton"
  >
    Cancel
  </button>
</mat-dialog-actions>
